.home-header {
    background: transparent;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-sticky {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 1000 !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}


.header-sticky #primary-navigation {
    padding: 0px !important;
}

.header-sticky .nav-link {
    color: #000 !important;
    padding: 5px 0px !important; 
}
.header-sticky .nav-link:hover {
    color: var(--primary-color) !important;
}

.text-size-large {
    font-size: 2rem !important;
}

.text-size-medium {
    font-size: 1.5rem !important;
}

.hero-title {
    font-size: 3.5rem !important;
}

@media screen and (max-width: 991px) {
    .hide-mobile {
        display: none !important;
    }

    .hide-desktop {
        display: block !important;
    }

    .hero-title {
        font-size: 2.2rem !important;
    }
}

@media screen and (min-width: 992px) {
    .hide-mobile {
        display: block !important;
    }

    .hide-desktop {
        display: none !important;
    }
}

.header-sticky {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.section-title {
    font-size: 1.8rem !important;
}

@media screen and (max-width: 991px) {
    .section-title {
        font-size: 1.2rem !important;
    }
}

.bike-tour-content p {
    font-size: 1.11rem !important;
}

.bike-tour-content h2 {
    font-size: 1.5rem !important;
}

.bike-tour-content h3 {
    font-size: 1.2rem !important;
}

.bike-tour-content ul {
    font-size: 1.2rem !important;
}

.bike-tour-content ol {
    font-size: 1.2rem !important;
}

.bike-tour-content a {
    color: var(--primary-color) !important;
}

.bike-tour-content a:hover {
    color: var(--primary-color) !important;
}

.hero-content {
    max-width: max(80%, 1024px);
    padding-top: 70px !important;
}

@media (max-width: 768px) {
    .hero-content {
        max-width: 100%;
        padding-top: 0px !important;
        margin-top: -150px !important;
    }
}

 
 