#tour-detail image {
    max-width: 100% !important;
}

.tour-overview figure {
    max-width: 100% !important;
}

#tour-detail figure {
    max-width: 100%;
}

#tourTab .nav-link {
    font-size: 1.5rem !important;
    font-weight: 500 !important;
}

@media (max-width: 768px) {
    #tourTab .nav-link {
        font-size: 1.2rem !important;
    }
}