#tour-detail image {
    max-width: 100% !important;
}

.tour-overview figure {
    max-width: 100% !important;
}

#tour-detail figure {
    max-width: 100%;
}

.nav-link {
    font-size: 1.5rem !important;
    font-weight: 500 !important;
}